el-get/
plugins/
bookmarks
*.dat
*.elc
ido.last
recentf
tramp
elpa/
secrets/
request/
projectile*
eshell/
/.mc-lists.el
/url
history
/company-statistics-cache.el
/org-clock-save.el
/.org-id-locations
/packages
*.data
*.snip#
/node_modules/
*~
/.#company-statistics-cache.el
*.lock
/*bundle
custom.el