sudo: required
dist: trusty
group: deprecated-2017Q4

env:
  global:
    - COMMIT="${TRAVIS_COMMIT::8}"
    - REPO=afsmnghr/dockemacs

services:
  - docker

install:
  - sudo pip install docker-compose

script:
  - docker-compose -f docker-compose.travis.yml up
  - if [ "$?" -ne 0 ]; then exit 1; fi
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo "$TRAVIS_BRANCH"; fi`
  - export $(cat .env)
  - sudo docker build -t "$REPO:$TRAVIS_BUILD_NUMBER" -f Dockerfile $(pwd)
  - export ID=`sudo docker run --rm -dt "$REPO:$TRAVIS_BUILD_NUMBER" emacs`
  - sudo docker export "$ID" | sudo docker import - "$REPO:$COMMIT"

after_success:
  - sudo docker login -u="$DOCKER_USER" -p="$DOCKER_PASS"
  - sudo docker tag "$REPO:$COMMIT" "$REPO:$TAG"
  - sudo docker tag "$REPO:$COMMIT" "$REPO:$VERSION"
  - sudo docker push "$REPO"
